*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: aquamarine;
}
section, footer{
    margin: 30px;
}
.main{
    display: grid;
    grid-template-columns: auto;
}
nav{
margin: 30px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    display: flex;
}
li{
    list-style: none;
}
.btn{
    display: flex;
    min-width: 300px;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 400;
}

.btn li{
    padding-left: 50px;
    cursor: pointer;
}
.btn li:hover{
    color: #FE7361;
    font-weight: 600;
}

.icons{
    display: flex;
    width: 200px;
    cursor: pointer;
    justify-content: space-evenly;
}

.hero{
    display: flex;
    margin: 30px;
    background-image: url(images/Rectangle\ 1.jpg);
    justify-content: space-between;
    height: 450px;
}

.side-text{
    margin-top: 20vh;
    margin-left: 20vh;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
.side-text p{
    font-size: 17px;
}
.text h1{
    font-size: 114px;
}
.side-text button{
    margin-top: 20vh;
    width: 210px;
    height: 60px;
    background-color: #FE7361;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}
#lok{
    font-size: 18px;
}
.poster{
    display: flex;
}

.collection{
    margin: auto;
    margin-top: 4vh;
    text-align: center;
}

.collection p ,h3{
    padding: 10px;
}

.collection h3{
    font-size: 24px;
    font-weight: 700;
}
.togbtn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
    width: 700px;
}
.togbtn button{
    background-color: white;
    border: none;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.112);
    height: 50px;
    width: 130px;
    font-size: 15px;
    font-weight: 600;
}

#active{
    background-color: #FE7361;
    color: white;
}
.togbtn button:hover{
    background-color: #FE7361;
    color: white;
}
.categories{
    display: flex;
    margin: auto;
    margin-top: 80px;
}
.card{
    position: relative;
    width: 340px;
}
.card img{
    position: absolute;
    top: 20px;
    left: 60px;
}

.text1{
text-align: center;
margin: 10px;
margin-left: 30px;
}
.second button{
    width: 60px;
    height: 22px;
    background-color: #FE7361;
    border: none;
    color: white;
    border-radius: 10px;
    margin-right:66px;
}

.cat{
    margin-top: 70px;
}
.center{
    text-align: center;
}
.center p{
    font-size: 20px;
}
.center h3{
    font-size: 25px;
}

.gridit{
    display: grid;
    margin-top: 30px;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
}
#one{
grid-column: 1/2;
height: 300px;
background-image: url(images/one.jpg);
background-size: cover;
border-radius: 20px;
}

#two{
    grid-column: 2/3;
    grid-row: 1/4;
    background-image: url(images/two.jpg);
    background-size: cover;
    border-radius: 20px;
}
#three{
    grid-column: 1/2;
    background-image: url(images/three.jpg);
    background-size: cover;
    height: 300px;
    border-radius: 20px;    
}

.flexit{
    display: flex;
    flex-wrap: wrap;
}

.carrd{
    width: 300px;
    height: 300px;
    background-color: rgba(192, 192, 192, 0.427);
    margin-left: 60px;
    margin-bottom: 20px;
}
.texxt{
    background-color: whitesmoke;
   height: 70px;
   padding: 10px;
}
.texxt p{
    padding-top: 6px;
}
.star{
    display: flex;
}
.star p{
    margin-right: 120px;
}

.foot{
    display: flex;
    justify-content: space-evenly;
    background-color: #FAF3EA;
}
.foot div{
    margin: 30px;
}

.icons3{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 140px;
}

.rendu p{
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.moonu{
    display: flex;
    flex-direction: column;
}
.moonu a{
    padding: 10px;
}
.foot p{
    cursor: pointer;
}
@media screen and (width<=320px) {
    .icons{
        display: none;
    }
    .carrd{
        margin-right: 100px;
    }
}

@media screen and (width<=426px) {
    .icons{
        display: none;
    }
    .carrd{
        margin-right: 100px;
    }
}
@media screen and (width<=768px) {
    .icons{
        display: none;
    }
    .carrd{
        margin-right: 120px;
    }
}